body{
background:#f5f7fb;
font-family:Arial;
}

.container,.dashboard-box{
max-width:450px;
margin:60px auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input{
width:100%;
height:40px;
margin-bottom:10px;
}

button{
width:100%;
height:40px;
background:#0d6efd;
color:white;
border:none;
border-radius:5px;
}

hr{
margin:20px 0;
}